<!DOCTYPE html>
<html>
    <head>
        <title>Ekim Careers</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <style>
          #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
          }
        </style>
      </head>
    <body>
        <div class="container">
        <h1 class="text-center mt-2 mb-4">
          {{company_name}} Careers
        </h1>
        <img class="img-fluid" id="banner" src="http://10.20.80.30:5000/static/banner.jpg" height="400">
        <h2 class="text-center mt-4 mb-4">About EkimCorp</h2>
        <p class="lead">EkimCorp, established in 1985 in Clichy-Sous-Bois, is a leading recruitment website that has been at the forefront of connecting employers and job seekers for nearly four decades. With a rich history and deep-rooted expertise in the recruitment industry, EkimCorp has continuously evolved to meet the changing demands of the job market. As a pioneer in its field, the platform boasts an extensive network of top-notch employers and talented professionals. The user-friendly interface and advanced search algorithms make finding the perfect match between employers and candidates a seamless experience. Whether you are a seasoned professional looking for your next career move or an employer seeking top talent, EkimCorp provides a reliable and efficient platform to facilitate your hiring needs. With a commitment to excellence and a dedication to matching the right talent with the right opportunity, EkimCorp remains a trusted partner in the recruitment landscape.</p>
        <h2 class="text-center mt-4 mb-4">Job Openings</h2>
        <div>
          {% for job in jobs %}
            {% include 'jobitem.html' %}
          {% endfor %}
        </div>
        <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2023, EkimCorp</p>
        </div>
    </div>
    </body>
</html>